<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fox Den - Home</title>
    <link rel="stylesheet" href="static/styling3.css">
</head>

<body>

  <header>
    <h1>Fox Den</h1>
    <h2>Foxy Info</h2>
  </header>
<hr>

<main>
  <img src="static/jumping_fox.jpg" width="600" height="380" alt="Jumping Fox">
  <p>Image source: https://www.massaudubon.org/nature-wildlife/mammals-in-massachusetts/foxes</p>

  <h3>Click on this link to subscribe to our newsletter:</h3>
    <a href="{{ url_for('form') }}">Newsletter</a>

    <h4 style="margin-bottom: 5px;"><strong>Berries that foxes like:</strong></h4>
    <ul style="margin-top: 0; margin-bottom: 0px;">
        <li>Blueberries</li>
        <li>Strawberries</li>
        <li>Blackberries</li>
        <li>Mulberries</li>
    </ul>

<br>
</main>

<h2 style="margin-top: 15px; margin-bottom: 5px;">Other Links for More Information:</h2>
<br>
<a href="https://en.wikipedia.org/wiki/Miyagi_Zao_Fox_Village">🦊 Fox Village 🦊</a>
  <br>
<a href="https://foxguardians.co.uk/faqs/what-food-is-best-for-foxes/">🫐 Safe Foods for Foxes 🫐</a>
  <br>
<a href="https://unsplash.com/s/photos/fox">🦊 Cute Fox Pictures 🦊</a>

</body>
</html>