<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Confirmed</title>
    <link rel="stylesheet" href="static/styling2.css">
</head>

<body>

<header>
  <h1>Thank you!</h1>
  <h2>You are now subscribed to the Fox Den Newsletter.</h2>
  <p>We'll keep you updated with everything fox-related!</p>
</header>

<main>
<p><strong>Name: </strong>{{ name }}</p>
<p><strong>Email: </strong>{{ email }}</p>

    <br>

<a href="{{ url_for('home') }}">🦊 Back to Home Page 🦊</a>
</main>

</body>
</html>